body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__wrapper {
  background-color: transparent;
  height: 10vh;
  width: calc(100vw - 18vw);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  margin-left: 17vw;
  margin-right: 1vw;
  color: #fff;
}

.nav__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: calc(100vw - 18vw);
  height: 100%;
  background: inherit;
  transform-origin: top right;
  transform: skewY(-1.5deg);
  border-bottom: solid 2px black;
  border-image: linear-gradient(to right, #fe6d73, #5a189a) 1;
  z-index: 4;
}

.search__container {
  height: 100%;
  margin-top: 1rem;
  z-index: 5;
}

.grid-icon {
  font-size: 20px;
  color: #000;
  /* margin-top: 2rem; */
}

.search__box {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-left: 1rem;
  padding: 0.625rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: groove 2px #fe6d73; */
}

.search-icon {
  color: #fe6d73;
  font-size: 18px;
}

.search__bar {
  outline: 0;
  border: none;
  font-size: 14px;
  padding: 0 0.5rem;
  min-width: 16rem;
}

.profile__container {
  border-right: solid 2px #272932;
}

.profile-pic {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.user-icon {
  font-size: 30px;
  color: #000;
}

.user-name {
  color: #5a189a;
  font-size: 15px;
  font-weight: 700;
  margin: 0 1rem;
}

.down-arrow-icon {
  color: #272932;
  font-size: 22px;
  margin-right: 1rem;
  z-index: 5;
  cursor: pointer;
  position: relative;
  transition: all 125ms ease-in-out;
}

/*** USER DROPDOWN***/

.user-menu__dropdown {
  position: absolute;
  top: 9vh;
  min-height: 5rem;
  min-width: 6.25rem;
  padding: 0px 15px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 5;
}

.user-menu__dropdown::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  z-index: inherit;
}

.dropdown__item {
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-bottom: solid 2px #d9d9d9;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.dropdown__item:hover .menu-icons,
.dropdown__item:hover .menu-item-text {
  color: #fe6d73;
  font-weight: 700;
  transition: all 250ms ease-in;
}

.dropdown__item:last-child {
  border-bottom: solid 2px transparent;
}

.menu-icons {
  font-size: 16px;
  color: #000;
  font-weight: 900;
  margin-right: 10px;
  transition: all 250ms ease-in;
}

.menu-item-text {
  font-size: 13px;
  color: #000;
  font-weight: 600;
  transition: all 250ms ease-in;
}

.actions__container {
  z-index: 5;
  padding: 0 10px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  display: flex;
  align-items: center;
  width: 60px;
  height: 25px;
  background: url("https://img.freepik.com/premium-photo/pastel-blue-sky-with-white-haep-clouds-summer-cloudscape_483040-3401.jpg");
  background-size: cover;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
  transition: ease-out 0.5s;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.check::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  left: 40px;
  background: url("/src/assets/images/sun-darker.png");
  background-size: cover;
  border-radius: 50%;
  animation: moveLeftToRight 500ms linear;

  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

input[type="checkbox"]:checked ~ .check {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTww2jnEHatLSx3XOYOYNrG5z5fj86wbHd_YASfcsKyIZAY4ht7-VJY3dK8GcFXgJfM_-A&usqp=CAU");
}

input[type="checkbox"]:checked ~ .check::after {
  background: url("/src/assets/images/full-moon.png");
  background-size: cover;
  left: 5px;
  animation: moveRightToLeft 500ms linear;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveLeftToRight {
  0% {
    left: 5px;
    transform: rotate(0deg);
  }
  100% {
    left: 40px;
    transform: rotate(360deg);
  }
}

@keyframes moveRightToLeft {
  0% {
    left: 40px;
    transform: rotate(360deg);
  }
  100% {
    left: 5px;
    transform: rotate(0deg);
  }
}
